body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.heading_top {
    font-family: cursive;
    font-size: larger;
}

.heading_top_2 {
    font-family: cursive;
    font-size: larger;
    color: white;;
}

.active_header{
    /**background-color: #198754;*/
    color: white !important;
    text-decoration: underline !important;
}
.heading_link {
    color: #dcdbe0;
    text-decoration: none;
}
a.heading_link:hover {
    color: #dcdbe0;
    text-decoration: none;
}