{% extends "base.html" %}

{% block active_header_aaa_testing %} active_header {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 30px;">
        Introduction</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is AAA Testing?</h5>
                <p class="card-text">The AAA (Arrange-Act-Assert) pattern has become almost a standard across the industry. 
                    It suggests that you should divide your test method into three sections: arrange, act and assert. 
                    Each one of them only responsible for the part in which they are named after.</p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Calculator Code Snippet</h5>
                <p class="card-text"> 
                    <code>
                        def test_calculator_add_method():
                            """Testing the Calculator add """ <br/>
                            # this is show using the calculator object add method<br/>
                            ## Arrange for AAA testing<br/>
                            tuple = (8.0, 2)<br/>

                            ## Act for AAA testing<br/>
                            result = Calculator.add(tuple)<br/>

                            ## Assertion for AAA testing<br/>
                            assert result == 10<br/>

                    </code>
                     </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}