{% extends "base.html" %}

{% block active_header_about %} active_header {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 30px;">
        Introduction</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About Me</h5>
                <p class="card-text">I am Ashish Sidana.</p>
            </div>
        </div>
    </div>

   
</div>


{% endblock %}