{% extends "base.html" %}

{% block active_header_git %} active_header {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-11" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 100px;">
        This my
        about section</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This is my title-1</h5>
                <h6 class="card-subtitle mb-2 text-muted">My subtitle-1</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et
                    dolore magna aliqua. Lectus nulla at volutpat diam ut. Justo nec ultrices dui sapien eget
                    mi. Sed libero
                    enim sed faucibus turpis in eu. Non curabitur gravida arcu ac tortor dignissim. Congue
                    mauris rhoncus
                    aenean vel elit. Arcu non odio euismod lacinia at quis risus sed vulputate. Sed viverra
                    ipsum nunc
                    aliquet bibendum enim facilisis gravida. A erat nam at lectus urna. Rhoncus dolor purus non
                    enim
                    praesent elementum. Pharetra sit amet aliquam id. Vulputate sapien nec sagittis aliquam
                    malesuada
                    bibendum. Lorem sed risus ultricies tristique. </p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This is my title-2</h5>
                <h6 class="card-subtitle mb-2 text-muted">My subtitle-2</h6>
                <p class="card-text">Non curabitur gravida arcu ac tortor dignissim. Congue mauris rhoncus
                    aenean vel elit. Arcu non odio euismod lacinia.A erat nam at lectus urna. Rhoncus dolor
                    purus non enim praesent elementum. Pharetra sit amet aliquam id. Vulputate sapien nec
                    sagittis aliquam malesuada bibendum. Lorem sed risus ultricies tristique. </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This is my title-3</h5>
                <h6 class="card-subtitle mb-2 text-muted">My subtitle-3</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et
                    dolore magna aliqua. Lectus nulla at volutpat diam ut. Justo nec ultrices dui sapien eget
                    mi. Sed libero
                    enim sed faucibus turpis in eu. Non curabitur gravida arcu ac tortor dignissim. Congue
                    mauris rhoncus
                    aenean vel elit. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}