{% extends "base.html" %}

{% block active_header_git %} active_header {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-11" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 30px;">
        Introduction</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Git?</h5>                
                <p class="card-text">Git is free open source version control system. </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Git repository ?</h5>                
                <p class="card-text">Git is free open source version control system. </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Branch</h5>                
                <p class="card-text">Git is free open source version control system. </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Merge</h5>                
                <p class="card-text">Git is free open source version control system. </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commit</h5>                
                <p class="card-text">Git is free open source version control system. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}