{% extends "base.html" %}

{% block active_header_git %} active_header {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 30px;">
        Introduction</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Git?</h5>
                <p class="card-text">Git is software for tracking changes in any set of files, usually used for
                    coordinating work among programmers collaboratively developing source code during software
                    development. Its goals include speed, data integrity, and support for distributed, non-linear
                    workflows.</p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Github repository ?</h5>
                <p class="card-text">GitHub is a code hosting platform for version control and collaboration. It lets
                    you and others work together on projects from anywhere. </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Branch</h5>
                <p class="card-text">In Git, branches are a part of your everyday development process. Git branches are
                    effectively a pointer to a snapshot of your changes. When you want to add a new feature or fix a
                    bug—no matter how big or how small—you spawn a new branch to encapsulate your changes. </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Merge</h5>
                <p class="card-text">A merge happens when combining two branches. Like commiting a feature or bu fix
                    then merge to master code base. </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commit</h5>
                <p class="card-text">The git commit captures a snapshot of the project's currently staged
                    changes. Committed snapshots can be thought of as “safe” versions of a project—Git will never change
                    them unless you explicitly ask it to. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}