{% extends "base.html" %}

{% block active_header_glossary %} active_header {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12" style="margin-top: 40px; background-color: lightblue; font-size: 1.3em; line-height: 30px;">
        Introduction</div>
</div>
<div class="row" style="margin-top: 20px; margin-left: -25px;">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Class & Object?</h5>
                <p class="card-text">
                    <strong>Class: </strong> Class is a blueprint
                </p>
                <p class="card-text">
                    <strong>Object: </strong> ClaObjectss is run time instance of class
                </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Overview of SOLID</h5>
                <p class="card-text">
                    SOLID stands for:
                <ul>
                    <li> S - Single-responsiblity Principle. </li>
                    <li> O - Open-closed Principle.</li>
                    <li> L - Liskov Substitution Principle.</li>
                    <li> I - Interface Segregation Principle.</li>
                    <li> D - Dependency Inversion Principle.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}