{% extends "base.html" %}
{% block active_header_home %} active_header {% endblock %}

{% block content %}

<div class="row border border-primary mb-3">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="padding: 5px; " >
            <div class="carousel-item active">
                <a href="/git"><img src="{{ url_for('static', filename='images/github-1.jpg') }}" class="d-block w-100"
                        alt="..." style="width: 800px; height: 500px; "></a>

            </div>
            <div class="carousel-item">
                <a href="/docker"> <img src="{{ url_for('static', filename='images/docker-1.png') }}"
                        class="d-block w-100" alt="..." style="width: 800px; height: 500px; "></a>

            </div>
            <div class="carousel-item">
                <a href="/python"> <img src="{{ url_for('static', filename='images/python-1.jpg') }}"
                        class="d-block w-100" alt="... "style="width: 800px; height: 500px; ""></a>
            </div>
            <div class="carousel-item">
                <a href="/ci-cd"> <img src="{{ url_for('static', filename='images/heroku-1.png') }}"
                        class="d-block w-100" alt="..." style="width: 800px; height: 500px; "></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endblock %}